{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.lastnameUser, { 'id' : 'testid'}) }}
        {{ form_row(registrationForm.nameUser) }}
        {{ form_row(registrationForm.birthUser) }}
        {{ form_row(registrationForm.mailUser) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
